<configuration>
  <server type="HyperFastCgi.ApplicationServers.SimpleApplicationServer">
    <host-factory>HyperFastCgi.HostFactories.SystemWebHostFactory</host-factory>
  </server>
  <listener type="HyperFastCgi.Listeners.ManagedFastCgiListener">
    <listener-transport type="HyperFastCgi.Transports.ManagedFastCgiListenerTransport"/>
    <apphost-transport type="HyperFastCgi.Transports.ManagedAppHostTransport"/>
    <protocol>InterNetwork</protocol>
    <address>127.0.0.1</address>
    <port>9000</port>
  </listener>
  <apphost type="HyperFastCgi.AppHosts.AspNet.AspNetApplicationHost">
    <log level="All" write-to-console="true"/>
    <add-trailing-slash>false</add-trailing-slash>
  </apphost>
</configuration>
